@import "tailwindcss";

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  width: '100vw';
  max-width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

} */

html{
  background-color: #000000;
  width: '100vw';
  max-width: 100%;
  color: white;
  overflow-x: hidden;
}
.glow-effect {
  background: radial-gradient(
    ellipse 50% 80% at 20% 40%,
    rgba(255, 255, 255, 0.1),
    transparent 80%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.3;
  pointer-events: none;
}

@media (min-width: 2200px) {
  .large-screen-left {
    left: 4.3vw !important;
  }
  .large-screen-right {
    right: 4.3vw !important;
  }
  .large-screen-bottom-left {
    left: 4.3vw !important;
  }
  .large-screen-bottom-right {
    right: 4.3vw !important;
  }
}
