@import "tailwindcss";

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  width: '100vw';
  max-width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

} */

html{
  background-color: #000000;
  width: '100vw';
  max-width: 100%;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.glow-effect {
  background: radial-gradient(
    ellipse 50% 80% at 20% 40%,
    rgba(255, 255, 255, 0.1),
    transparent 80%
  );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.3;
  pointer-events: none;
}

@media (min-width: 1200px) {
  .large-screen-left {
    left: 3.7vw !important;
  }
  .large-screen-right {
    right: 3.59vw !important;
  }
  .large-screen-bottom-left {
    left: 3.7vw !important;
  }
  .large-screen-bottom-right {
    right: 3.59vw !important;
  }
}

@media (min-width: 1370px) {
  .large-screen-left {
    left: 3.8vw !important;
  }
  .large-screen-right {
    right: 3.65vw !important;
  }
  .large-screen-bottom-left {
    left: 3.8vw !important;
  }
  .large-screen-bottom-right {
    right: 3.65vw !important;
  }
}

@media (min-width: 1480px) {
  .large-screen-left {
    left: 3.9vw !important;
  }
  .large-screen-right {
    right: 3.78vw !important;
  }
  .large-screen-bottom-left {
    left: 3.9vw !important;
  }
  .large-screen-bottom-right {
    right: 3.78vw !important;
  }
}

@media (min-width: 1650px) {
  .large-screen-left {
    left: 4vw !important;
  }
  .large-screen-right {
    right: 3.9vw !important;
  }
  .large-screen-bottom-left {
    left: 4vw !important;
  }
  .large-screen-bottom-right {
    right: 3.9vw !important;
  }
}

@media (min-width: 1800px) {
  .large-screen-left {
    left: 4.12vw !important;
  }
  .large-screen-right {
    right: 4vw !important;
  }
  .large-screen-bottom-left {
    left: 4.12vw !important;
  }
  .large-screen-bottom-right {
    right: 4vw !important;
  }
}

@media (min-width: 1900px) {
  .large-screen-left {
    left: 4.12vw !important;
  }
  .large-screen-right {
    right: 4.05vw !important;
  }
  .large-screen-bottom-left {
    left: 4.12vw !important;
  }
  .large-screen-bottom-right {
    right: 4.05vw !important;
  }
}

@media (min-width: 2100px) {
  .large-screen-left {
    left: 4.2vw !important;
  }
  .large-screen-right {
    right: 4.15vw !important;
  }
  .large-screen-bottom-left {
    left: 4.2vw !important;
  }
  .large-screen-bottom-right {
    right: 4.15vw !important;
  }
}

@media (min-width: 2300px) {
  .large-screen-left {
    left: 4.3vw !important;
  }
  .large-screen-right {
    right: 4.2vw !important;
  }
  .large-screen-bottom-left {
    left: 4.3vw !important;
  }
  .large-screen-bottom-right {
    right: 4.2vw !important;
  }
}

@media (min-width: 2510px) {
  .large-screen-left {
    left: 4.36vw !important;
  }
  .large-screen-right {
    right: 4.28vw !important;
  }
  .large-screen-bottom-left {
    left: 4.36vw !important;
  }
  .large-screen-bottom-right {
    right: 4.28vw !important;
  }
}

@media (min-width: 2700px) {
  .large-screen-left {
    left: 4.4vw !important;
  }
  .large-screen-right {
    right: 4.34vw !important;
  }
  .large-screen-bottom-left {
    left: 4.4vw !important;
  }
  .large-screen-bottom-right {
    right: 4.34vw !important;
  }
}

@media (min-width: 3000px) {
  .large-screen-left {
    left: 4.46vw !important;
  }
  .large-screen-right {
    right: 4.4vw !important;
  }
  .large-screen-bottom-left {
    left: 4.46vw !important;
  }
  .large-screen-bottom-right {
    right: 4.4vw !important;
  }
}

@media (min-width: 3100px) {
  .large-screen-left {
    left: 4.46vw !important;
  }
  .large-screen-right {
    right: 4.44vw !important;
  }
  .large-screen-bottom-left {
    left: 4.46vw !important;
  }
  .large-screen-bottom-right {
    right: 4.44vw !important;
  }
}
